/*Starting Small*/
body{
    margin: 0px;
}

header {
    height: 4%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

header>img {
    width: 15%;
    height: 100%;
}

.headings {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
}